In [11]:
import json

import pip
import sys
!{sys.executable} -m pip install pycoingecko
!{sys.executable} -m pip install pandas

Requirement already satisfied: pycoingecko in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (2.2.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\Predrag\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pycoingecko) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (2.0.11)
Requirement already satisfied: pandas in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (1.4.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\Predrag\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.21.0 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [12]:
import pandas as pd
data_doge_usd = pd.read_csv("../DOGE-USD.csv")
data_doge_stats = pd.read_csv("../doge-stats.csv")
data_doge_google = pd.read_csv("../doge_google_trend.csv")
data_doge_usd.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270

In [13]:
data_doge_google.head(10)

         date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
0  2017-11-01                 23               NaN       NaN    NaN       NaN
1  2017-11-02                 47               NaN       NaN    NaN       NaN
2  2017-11-03                 52               NaN       NaN    NaN       NaN
3  2017-11-04                 52               NaN       NaN    NaN       NaN
4  2017-11-05                 36               1.0     False   0.01      0.36
5  2017-11-06                 31               1.0       NaN   0.01      0.31
6  2017-11-07                 46               1.0       NaN   0.01      0.46
7  2017-11-08                 33               1.0       NaN   0.01      0.33
8  2017-11-09                 57               1.0       NaN   0.01      0.57
9  2017-11-10                 24               1.0       NaN   0.01      0.24

In [14]:
#Odbacujem prvih 8 redova jer podaci o cenama krecu od 9.11.2017
data_doge_google = data_doge_google.iloc[8:]
data_doge_google.head(10)

          date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
8   2017-11-09                 57               1.0       NaN   0.01      0.57
9   2017-11-10                 24               1.0       NaN   0.01      0.24
10  2017-11-11                 23               1.0       NaN   0.01      0.23
11  2017-11-12                 23               1.0     False   0.01      0.23
12  2017-11-13                 41               1.0       NaN   0.01      0.41
13  2017-11-14                 45               1.0       NaN   0.01      0.45
14  2017-11-15                 46               1.0       NaN   0.01      0.46
15  2017-11-16                 31               1.0       NaN   0.01      0.31
16  2017-11-17                 42               1.0       NaN   0.01      0.42
17  2017-11-18                 29               1.0       NaN   0.01      0.29

In [15]:
data_doge_google.tail()

,date,dogecoin_unscaled,dogecoin_monthly,isPartial,scale,dogecoin
1552,2022-01-31,23,4.0,NaN,0.04,0.92
1553,2022-02-01,93,4.0,NaN,0.04,3.72
1554,2022-02-02,87,4.0,NaN,0.04,3.48
1555,2022-02-03,82,4.0,NaN,0.04,3.28
1556,2022-02-04,100,4.0,NaN,0.04,4.00

In [16]:
#Konvertujem datum u jedinstven format
data_doge_usd['Date'] = pd.to_datetime(data_doge_usd['Date'])
data_doge_usd['Date'] = data_doge_usd["Date"].dt.strftime('%d/%m/%Y')
data_doge_usd.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  09/11/2017  0.001207  0.001415  0.001181  0.001415   0.001415  6259550
1  10/11/2017  0.001421  0.001431  0.001125  0.001163   0.001163  4246520
2  11/11/2017  0.001146  0.001257  0.001141  0.001201   0.001201  2231080
3  12/11/2017  0.001189  0.001210  0.001002  0.001038   0.001038  3288960
4  13/11/2017  0.001046  0.001212  0.001019  0.001211   0.001211  2481270

In [17]:
#Konvertujem datum u jedinstven format
data_doge_google['date'] = pd.to_datetime(data_doge_google['date'], format='%Y-%m-%d')
data_doge_google['date'] = data_doge_google["date"].dt.strftime('%d/%m/%Y')
data_doge_google.head()

          date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
8   09/11/2017                 57               1.0       NaN   0.01      0.57
9   10/11/2017                 24               1.0       NaN   0.01      0.24
10  11/11/2017                 23               1.0       NaN   0.01      0.23
11  12/11/2017                 23               1.0     False   0.01      0.23
12  13/11/2017                 41               1.0       NaN   0.01      0.41

In [18]:
#Konvertujem datum u jedinstven format
data_doge_stats['date'] = pd.to_datetime(data_doge_stats['date'],  format='%d-%m-%Y')
data_doge_stats['date'] = data_doge_stats["date"].dt.strftime('%d/%m/%Y')
data_doge_stats.head()

,date,facebook_likes,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,09/11/2017,NaN,165257.0,0.633,9.490,81680.0,314.0,612.0,1391.0,225.0,395.0,336.0,732.0,67.0,0.0
1,10/11/2017,NaN,165308.0,0.833,11.958,81723.0,308.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
2,11/11/2017,NaN,165363.0,0.980,13.224,81772.0,312.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
3,12/11/2017,NaN,165402.0,1.102,14.469,81831.0,327.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
4,13/11/2017,NaN,NaN,1.277,15.383,81878.0,331.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN

In [19]:
merged_doge=pd.merge(data_doge_usd,data_doge_stats, how='inner', left_index=True, right_index=True)
merged_doge.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date,facebook_likes,twitter_followers,...,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,09/11/2017,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,09/11/2017,NaN,165257.0,...,81680.0,314.0,612.0,1391.0,225.0,395.0,336.0,732.0,67.0,0.0
1,10/11/2017,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,10/11/2017,NaN,165308.0,...,81723.0,308.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
2,11/11/2017,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,11/11/2017,NaN,165363.0,...,81772.0,312.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
3,12/11/2017,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,12/11/2017,NaN,165402.0,...,81831.0,327.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
4,13/11/2017,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,13/11/2017,NaN,NaN,...,81878.0,331.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN

In [20]:
merged_doge = pd.merge(merged_doge, data_doge_google, how='inner', left_index=True, right_index=True)
merged_doge.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date_x,facebook_likes,twitter_followers,...,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,date_y,dogecoin_unscaled,dogecoin_monthly,isPartial,scale,dogecoin
8,17/11/2017,0.001381,0.001394,0.001274,0.001313,0.001313,2787480,17/11/2017,NaN,165659.0,...,336.0,732.0,67.0,0.0,09/11/2017,57,1.0,NaN,0.01,0.57
9,18/11/2017,0.001308,0.001385,0.001254,0.001373,0.001373,1648260,18/11/2017,NaN,165692.0,...,336.0,732.0,67.0,0.0,10/11/2017,24,1.0,NaN,0.01,0.24
10,19/11/2017,0.001355,0.001421,0.001340,0.001376,0.001376,1431720,19/11/2017,NaN,165743.0,...,336.0,732.0,67.0,0.0,11/11/2017,23,1.0,NaN,0.01,0.23
11,20/11/2017,0.001374,0.001428,0.001348,0.001394,0.001394,2141360,20/11/2017,NaN,165813.0,...,336.0,732.0,67.0,5.0,12/11/2017,23,1.0,False,0.01,0.23
12,21/11/2017,0.001410,0.001446,0.001302,0.001389,0.001389,3047660,21/11/2017,NaN,165859.0,...,336.0,734.0,67.0,5.0,13/11/2017,41,1.0,NaN,0.01,0.41

In [22]:
merged_doge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1541 entries, 8 to 1548
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1541 non-null   object
 1   Open                         1541 non-null   float64
 2   High                         1541 non-null   float64
 3   Low                          1541 non-null   float64
 4   Close                        1541 non-null   float64
 5   Adj Close                    1541 non-null   float64
 6   Volume                       1541 non-null   int64
 7   date_x                       1541 non-null   object
 8   facebook_likes               0 non-null      float64
 9   twitter_followers            1504 non-null   float64
 10  reddit_average_posts_48h     1541 non-null   float64
 11  reddit_average_comments_48h  1541 non-null   float64
 12  reddit_subscribers           1531 non-null   float64
 13  reddit_accounts_active_48h   1531 non-null   float64
 14  forks                        1522 non-null   float64
 15  stars                        1522 non-null   float64
 16  subscribers                  1522 non-null   float64
 17  total_issues                 1522 non-null   float64
 18  closed_issues                1522 non-null   float64
 19  pull_requests_merged         1525 non-null   float64
 20  pull_request_contributors    1525 non-null   float64
 21  commit_count_4_weeks         1524 non-null   float64
 22  date_y                       1541 non-null   object
 23  dogecoin_unscaled            1541 non-null   int64
 24  dogecoin_monthly             1541 non-null   float64
 25  isPartial                    220 non-null    object
 26  scale                        1541 non-null   float64
 27  dogecoin                     1541 non-null   float64
dtypes: float64(22), int64(2), object(4)
memory usage: 349.1+ KB

In [23]:
del merged_doge['date_x']
del merged_doge['date_y']

merged_doge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1541 entries, 8 to 1548
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1541 non-null   object
 1   Open                         1541 non-null   float64
 2   High                         1541 non-null   float64
 3   Low                          1541 non-null   float64
 4   Close                        1541 non-null   float64
 5   Adj Close                    1541 non-null   float64
 6   Volume                       1541 non-null   int64
 7   facebook_likes               0 non-null      float64
 8   twitter_followers            1504 non-null   float64
 9   reddit_average_posts_48h     1541 non-null   float64
 10  reddit_average_comments_48h  1541 non-null   float64
 11  reddit_subscribers           1531 non-null   float64
 12  reddit_accounts_active_48h   1531 non-null   float64
 13  forks                        1522 non-null   float64
 14  stars                        1522 non-null   float64
 15  subscribers                  1522 non-null   float64
 16  total_issues                 1522 non-null   float64
 17  closed_issues                1522 non-null   float64
 18  pull_requests_merged         1525 non-null   float64
 19  pull_request_contributors    1525 non-null   float64
 20  commit_count_4_weeks         1524 non-null   float64
 21  dogecoin_unscaled            1541 non-null   int64
 22  dogecoin_monthly             1541 non-null   float64
 23  isPartial                    220 non-null    object
 24  scale                        1541 non-null   float64
 25  dogecoin                     1541 non-null   float64
dtypes: float64(22), int64(2), object(2)
memory usage: 325.1+ KB