In [136]:
import json

import pip
import sys
!{sys.executable} -m pip install pycoingecko
!{sys.executable} -m pip install pandas

Requirement already satisfied: pycoingecko in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (2.2.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\Predrag\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pycoingecko) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (2.0.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from requests->pycoingecko) (1.26.8)
Requirement already satisfied: pandas in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (1.4.0)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\Predrag\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: six>=1.5 in c:\users\predrag\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [137]:
#Spajam podatke o Doge coinu
import pandas as pd
data_doge_usd = pd.read_csv("../DOGE-USD.csv")
data_doge_stats = pd.read_csv("../doge-stats.csv")
data_doge_google = pd.read_csv("../doge_google_trend.csv")
data_doge_usd.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270

In [138]:
data_doge_google.head(10)

         date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
0  2017-11-01                 23               NaN       NaN    NaN       NaN
1  2017-11-02                 47               NaN       NaN    NaN       NaN
2  2017-11-03                 52               NaN       NaN    NaN       NaN
3  2017-11-04                 52               NaN       NaN    NaN       NaN
4  2017-11-05                 36               1.0     False   0.01      0.36
5  2017-11-06                 31               1.0       NaN   0.01      0.31
6  2017-11-07                 46               1.0       NaN   0.01      0.46
7  2017-11-08                 33               1.0       NaN   0.01      0.33
8  2017-11-09                 57               1.0       NaN   0.01      0.57
9  2017-11-10                 24               1.0       NaN   0.01      0.24

In [139]:
#Odbacujem prvih 8 redova jer podaci o cenama krecu od 9.11.2017
data_doge_google = data_doge_google.iloc[8:]
data_doge_google.head(10)

          date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
8   2017-11-09                 57               1.0       NaN   0.01      0.57
9   2017-11-10                 24               1.0       NaN   0.01      0.24
10  2017-11-11                 23               1.0       NaN   0.01      0.23
11  2017-11-12                 23               1.0     False   0.01      0.23
12  2017-11-13                 41               1.0       NaN   0.01      0.41
13  2017-11-14                 45               1.0       NaN   0.01      0.45
14  2017-11-15                 46               1.0       NaN   0.01      0.46
15  2017-11-16                 31               1.0       NaN   0.01      0.31
16  2017-11-17                 42               1.0       NaN   0.01      0.42
17  2017-11-18                 29               1.0       NaN   0.01      0.29

In [140]:
data_doge_google.tail()

,date,dogecoin_unscaled,dogecoin_monthly,isPartial,scale,dogecoin
1552,2022-01-31,23,4.0,NaN,0.04,0.92
1553,2022-02-01,93,4.0,NaN,0.04,3.72
1554,2022-02-02,87,4.0,NaN,0.04,3.48
1555,2022-02-03,82,4.0,NaN,0.04,3.28
1556,2022-02-04,100,4.0,NaN,0.04,4.00

In [141]:
#Konvertujem datum u jedinstven format
data_doge_usd['Date'] = pd.to_datetime(data_doge_usd['Date'])
data_doge_usd['Date'] = data_doge_usd["Date"].dt.strftime('%d/%m/%Y')
data_doge_usd.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  09/11/2017  0.001207  0.001415  0.001181  0.001415   0.001415  6259550
1  10/11/2017  0.001421  0.001431  0.001125  0.001163   0.001163  4246520
2  11/11/2017  0.001146  0.001257  0.001141  0.001201   0.001201  2231080
3  12/11/2017  0.001189  0.001210  0.001002  0.001038   0.001038  3288960
4  13/11/2017  0.001046  0.001212  0.001019  0.001211   0.001211  2481270

In [142]:
#Konvertujem datum u jedinstven format
data_doge_google['date'] = pd.to_datetime(data_doge_google['date'], format='%Y-%m-%d')
data_doge_google['date'] = data_doge_google["date"].dt.strftime('%d/%m/%Y')
data_doge_google.head()

          date  dogecoin_unscaled  dogecoin_monthly isPartial  scale  dogecoin
8   09/11/2017                 57               1.0       NaN   0.01      0.57
9   10/11/2017                 24               1.0       NaN   0.01      0.24
10  11/11/2017                 23               1.0       NaN   0.01      0.23
11  12/11/2017                 23               1.0     False   0.01      0.23
12  13/11/2017                 41               1.0       NaN   0.01      0.41

In [143]:
#Konvertujem datum u jedinstven format
data_doge_stats['date'] = pd.to_datetime(data_doge_stats['date'],  format='%d-%m-%Y')
data_doge_stats['date'] = data_doge_stats["date"].dt.strftime('%d/%m/%Y')
data_doge_stats.head()

,date,facebook_likes,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,09/11/2017,NaN,165257.0,0.633,9.490,81680.0,314.0,612.0,1391.0,225.0,395.0,336.0,732.0,67.0,0.0
1,10/11/2017,NaN,165308.0,0.833,11.958,81723.0,308.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
2,11/11/2017,NaN,165363.0,0.980,13.224,81772.0,312.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
3,12/11/2017,NaN,165402.0,1.102,14.469,81831.0,327.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
4,13/11/2017,NaN,NaN,1.277,15.383,81878.0,331.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN

In [144]:
data_doge_stats.set_index('date')
data_doge_google.set_index('date')
data_doge_usd.set_index('Date')
merged_doge=pd.merge(data_doge_usd,data_doge_stats, how='inner', left_index=True, right_index=True)
merged_doge.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date,facebook_likes,twitter_followers,...,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,09/11/2017,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,09/11/2017,NaN,165257.0,...,81680.0,314.0,612.0,1391.0,225.0,395.0,336.0,732.0,67.0,0.0
1,10/11/2017,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,10/11/2017,NaN,165308.0,...,81723.0,308.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
2,11/11/2017,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,11/11/2017,NaN,165363.0,...,81772.0,312.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
3,12/11/2017,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,12/11/2017,NaN,165402.0,...,81831.0,327.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN
4,13/11/2017,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,13/11/2017,NaN,NaN,...,81878.0,331.0,NaN,NaN,NaN,NaN,NaN,732.0,67.0,NaN

In [145]:
merged_doge.set_index('Date')
merged_doge = pd.merge(merged_doge, data_doge_google, how='inner', left_on='Date', right_on='date')
merged_doge.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date_x,facebook_likes,twitter_followers,...,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,date_y,dogecoin_unscaled,dogecoin_monthly,isPartial,scale,dogecoin
0,09/11/2017,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,09/11/2017,NaN,165257.0,...,336.0,732.0,67.0,0.0,09/11/2017,57,1.0,NaN,0.01,0.57
1,10/11/2017,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,10/11/2017,NaN,165308.0,...,NaN,732.0,67.0,NaN,10/11/2017,24,1.0,NaN,0.01,0.24
2,11/11/2017,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,11/11/2017,NaN,165363.0,...,NaN,732.0,67.0,NaN,11/11/2017,23,1.0,NaN,0.01,0.23
3,12/11/2017,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,12/11/2017,NaN,165402.0,...,NaN,732.0,67.0,NaN,12/11/2017,23,1.0,False,0.01,0.23
4,13/11/2017,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,13/11/2017,NaN,NaN,...,NaN,732.0,67.0,NaN,13/11/2017,41,1.0,NaN,0.01,0.41

In [146]:
merged_doge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1549 entries, 0 to 1548
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1549 non-null   object
 1   Open                         1549 non-null   float64
 2   High                         1549 non-null   float64
 3   Low                          1549 non-null   float64
 4   Close                        1549 non-null   float64
 5   Adj Close                    1549 non-null   float64
 6   Volume                       1549 non-null   int64
 7   date_x                       1549 non-null   object
 8   facebook_likes               0 non-null      float64
 9   twitter_followers            1510 non-null   float64
 10  reddit_average_posts_48h     1549 non-null   float64
 11  reddit_average_comments_48h  1549 non-null   float64
 12  reddit_subscribers           1539 non-null   float64
 13  reddit_accounts_active_48h   1539 non-null   float64
 14  forks                        1525 non-null   float64
 15  stars                        1525 non-null   float64
 16  subscribers                  1525 non-null   float64
 17  total_issues                 1525 non-null   float64
 18  closed_issues                1525 non-null   float64
 19  pull_requests_merged         1533 non-null   float64
 20  pull_request_contributors    1533 non-null   float64
 21  commit_count_4_weeks         1527 non-null   float64
 22  date_y                       1549 non-null   object
 23  dogecoin_unscaled            1549 non-null   int64
 24  dogecoin_monthly             1549 non-null   float64
 25  isPartial                    221 non-null    object
 26  scale                        1549 non-null   float64
 27  dogecoin                     1549 non-null   float64
dtypes: float64(22), int64(2), object(4)
memory usage: 350.9+ KB

In [147]:
del merged_doge['date_x']
del merged_doge['date_y']

merged_doge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1549 entries, 0 to 1548
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1549 non-null   object
 1   Open                         1549 non-null   float64
 2   High                         1549 non-null   float64
 3   Low                          1549 non-null   float64
 4   Close                        1549 non-null   float64
 5   Adj Close                    1549 non-null   float64
 6   Volume                       1549 non-null   int64
 7   facebook_likes               0 non-null      float64
 8   twitter_followers            1510 non-null   float64
 9   reddit_average_posts_48h     1549 non-null   float64
 10  reddit_average_comments_48h  1549 non-null   float64
 11  reddit_subscribers           1539 non-null   float64
 12  reddit_accounts_active_48h   1539 non-null   float64
 13  forks                        1525 non-null   float64
 14  stars                        1525 non-null   float64
 15  subscribers                  1525 non-null   float64
 16  total_issues                 1525 non-null   float64
 17  closed_issues                1525 non-null   float64
 18  pull_requests_merged         1533 non-null   float64
 19  pull_request_contributors    1533 non-null   float64
 20  commit_count_4_weeks         1527 non-null   float64
 21  dogecoin_unscaled            1549 non-null   int64
 22  dogecoin_monthly             1549 non-null   float64
 23  isPartial                    221 non-null    object
 24  scale                        1549 non-null   float64
 25  dogecoin                     1549 non-null   float64
dtypes: float64(22), int64(2), object(2)
memory usage: 326.7+ KB

In [148]:
merged_doge.to_csv("../doge_data_4_2_2022.csv", index=False)
merged_doge.head()

,Date,Open,High,Low,Close,Adj Close,Volume,facebook_likes,twitter_followers,reddit_average_posts_48h,...,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,dogecoin_unscaled,dogecoin_monthly,isPartial,scale,dogecoin
0,09/11/2017,0.001207,0.001415,0.001181,0.001415,0.001415,6259550,NaN,165257.0,0.633,...,395.0,336.0,732.0,67.0,0.0,57,1.0,NaN,0.01,0.57
1,10/11/2017,0.001421,0.001431,0.001125,0.001163,0.001163,4246520,NaN,165308.0,0.833,...,NaN,NaN,732.0,67.0,NaN,24,1.0,NaN,0.01,0.24
2,11/11/2017,0.001146,0.001257,0.001141,0.001201,0.001201,2231080,NaN,165363.0,0.980,...,NaN,NaN,732.0,67.0,NaN,23,1.0,NaN,0.01,0.23
3,12/11/2017,0.001189,0.001210,0.001002,0.001038,0.001038,3288960,NaN,165402.0,1.102,...,NaN,NaN,732.0,67.0,NaN,23,1.0,False,0.01,0.23
4,13/11/2017,0.001046,0.001212,0.001019,0.001211,0.001211,2481270,NaN,NaN,1.277,...,NaN,NaN,732.0,67.0,NaN,41,1.0,NaN,0.01,0.41

In [149]:
#Sada spajam podatke o Idena coinu

In [150]:
data_idn_usd = pd.read_csv("../IDNA-USD.csv")
#Konvertujem datum u jedinstven format
data_idn_usd['Date'] = pd.to_datetime(data_idn_usd ['Date'], format='%Y-%m-%d')
data_idn_usd['Date'] = data_idn_usd["Date"].dt.strftime('%d/%m/%Y')
data_idn_usd.head()

         Date      Open      High       Low     Close  Adj Close  Volume
0  11/08/2020  0.125496  0.137770  0.124239  0.130634   0.130634   40783
1  12/08/2020  0.130674  0.162275  0.128384  0.138122   0.138122   65517
2  13/08/2020  0.138128  0.138128  0.118348  0.127606   0.127606   41988
3  14/08/2020  0.127084  0.201024  0.121670  0.201024   0.201024  104705
4  15/08/2020  0.201097  0.202423  0.138915  0.162744   0.162744   50419

In [151]:
data_idn_stats = pd.read_csv("../idena-stats.csv")
#Konvertujem datum u jedinstven format
data_idn_stats['date'] = pd.to_datetime(data_idn_stats['date'], format='%d-%m-%Y')
data_idn_stats['date'] = data_idn_stats["date"].dt.strftime('%d/%m/%Y')
data_idn_stats.head()

,date,facebook_likes,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,11/08/2020,NaN,1817.0,0.273,0.000,298,6.666667,25.0,62.0,13.0,52.0,36.0,432.0,11.0,17.0
1,12/08/2020,NaN,1829.0,0.182,0.091,300,6.750000,25.0,62.0,13.0,52.0,36.0,432.0,11.0,17.0
2,13/08/2020,NaN,2149.0,0.083,0.167,302,6.615385,25.0,62.0,13.0,53.0,36.0,432.0,11.0,9.0
3,14/08/2020,NaN,NaN,0.000,0.000,304,7.083333,25.0,62.0,13.0,54.0,36.0,438.0,11.0,15.0
4,15/08/2020,NaN,2267.0,0.100,0.000,307,5.636364,25.0,61.0,13.0,54.0,36.0,438.0,11.0,15.0

In [152]:
data_idn_google = pd.read_csv("../idena_google_trend.csv")
#Konvertujem datum u jedinstven format
data_idn_google['date'] = pd.to_datetime(data_idn_google['date'], format='%Y-%m-%d')
data_idn_google['date'] = data_idn_google["date"].dt.strftime('%d/%m/%Y')
data_idn_google.head()

         date  idena_unscaled  idena_monthly isPartial  scale  idena
0  01/08/2020              39            NaN       NaN    NaN    NaN
1  02/08/2020              39           32.0     False   0.32  12.48
2  03/08/2020              34           32.0       NaN   0.32  10.88
3  04/08/2020               0           32.0       NaN   0.32   0.00
4  05/08/2020               0           32.0       NaN   0.32   0.00

In [153]:
data_idn_stats.set_index('date')
data_idn_google.set_index('date')
data_idn_usd.set_index('Date')
merged_idena=pd.merge(data_idn_usd,data_idn_stats, how='inner', left_index=True, right_index=True)
merged_idena.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date,facebook_likes,twitter_followers,...,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,11/08/2020,0.125496,0.137770,0.124239,0.130634,0.130634,40783,11/08/2020,NaN,1817.0,...,298,6.666667,25.0,62.0,13.0,52.0,36.0,432.0,11.0,17.0
1,12/08/2020,0.130674,0.162275,0.128384,0.138122,0.138122,65517,12/08/2020,NaN,1829.0,...,300,6.750000,25.0,62.0,13.0,52.0,36.0,432.0,11.0,17.0
2,13/08/2020,0.138128,0.138128,0.118348,0.127606,0.127606,41988,13/08/2020,NaN,2149.0,...,302,6.615385,25.0,62.0,13.0,53.0,36.0,432.0,11.0,9.0
3,14/08/2020,0.127084,0.201024,0.121670,0.201024,0.201024,104705,14/08/2020,NaN,NaN,...,304,7.083333,25.0,62.0,13.0,54.0,36.0,438.0,11.0,15.0
4,15/08/2020,0.201097,0.202423,0.138915,0.162744,0.162744,50419,15/08/2020,NaN,2267.0,...,307,5.636364,25.0,61.0,13.0,54.0,36.0,438.0,11.0,15.0

In [154]:
merged_idena.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,date,facebook_likes,twitter_followers,...,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
538,31/01/2022,0.083146,0.083205,0.078528,0.081419,0.081419,157240,31/01/2022,NaN,NaN,...,925,10.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,01/02/2022,0.081419,0.085588,0.081330,0.084601,0.084601,149344,01/02/2022,NaN,9593.0,...,926,10.153846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,02/02/2022,0.084601,0.087298,0.081559,0.082081,0.082081,130836,02/02/2022,NaN,NaN,...,926,8.727273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,03/02/2022,0.082081,0.089960,0.082081,0.088527,0.088527,141869,03/02/2022,NaN,9549.0,...,925,8.818182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,04/02/2022,0.088531,0.090840,0.084359,0.084359,0.084359,156317,04/02/2022,NaN,NaN,...,925,8.230769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
merged_idena = pd.merge(merged_idena, data_idn_google,left_on='Date', right_on='date')
merged_idena.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date_x,facebook_likes,twitter_followers,...,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,date_y,idena_unscaled,idena_monthly,isPartial,scale,idena
0,11/08/2020,0.125496,0.137770,0.124239,0.130634,0.130634,40783,11/08/2020,NaN,1817.0,...,36.0,432.0,11.0,17.0,11/08/2020,0,37.0,NaN,0.37,0.00
1,12/08/2020,0.130674,0.162275,0.128384,0.138122,0.138122,65517,12/08/2020,NaN,1829.0,...,36.0,432.0,11.0,17.0,12/08/2020,0,37.0,NaN,0.37,0.00
2,13/08/2020,0.138128,0.138128,0.118348,0.127606,0.127606,41988,13/08/2020,NaN,2149.0,...,36.0,432.0,11.0,9.0,13/08/2020,0,37.0,NaN,0.37,0.00
3,14/08/2020,0.127084,0.201024,0.121670,0.201024,0.201024,104705,14/08/2020,NaN,NaN,...,36.0,438.0,11.0,15.0,14/08/2020,34,37.0,NaN,0.37,12.58
4,15/08/2020,0.201097,0.202423,0.138915,0.162744,0.162744,50419,15/08/2020,NaN,2267.0,...,36.0,438.0,11.0,15.0,15/08/2020,0,37.0,NaN,0.37,0.00

In [156]:
del merged_idena['date_x']
del merged_idena['date_y']

merged_idena.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 543 entries, 0 to 542
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         543 non-null    object
 1   Open                         543 non-null    float64
 2   High                         543 non-null    float64
 3   Low                          543 non-null    float64
 4   Close                        543 non-null    float64
 5   Adj Close                    543 non-null    float64
 6   Volume                       543 non-null    int64
 7   facebook_likes               0 non-null      float64
 8   twitter_followers            409 non-null    float64
 9   reddit_average_posts_48h     543 non-null    float64
 10  reddit_average_comments_48h  543 non-null    float64
 11  reddit_subscribers           543 non-null    int64
 12  reddit_accounts_active_48h   543 non-null    float64
 13  forks                        34 non-null     float64
 14  stars                        34 non-null     float64
 15  subscribers                  34 non-null     float64
 16  total_issues                 34 non-null     float64
 17  closed_issues                34 non-null     float64
 18  pull_requests_merged         34 non-null     float64
 19  pull_request_contributors    34 non-null     float64
 20  commit_count_4_weeks         34 non-null     float64
 21  idena_unscaled               543 non-null    int64
 22  idena_monthly                543 non-null    float64
 23  isPartial                    77 non-null     object
 24  scale                        543 non-null    float64
 25  idena                        543 non-null    float64
dtypes: float64(21), int64(3), object(2)
memory usage: 114.5+ KB

In [158]:
merged_idena.to_csv('../idena_data_4_2_2022.csv', index=False)

In [159]:
#Spajam podatke o shiba coinu

data_shib_usd = pd.read_csv("../SHIB-USD.csv")
#Konvertujem datum u jedinstven format
data_shib_usd['Date'] = pd.to_datetime(data_shib_usd['Date'], format='%Y-%m-%d')
data_shib_usd['Date'] = data_shib_usd["Date"].dt.strftime('%d/%m/%Y')
data_shib_usd.head()

         Date  Open  High  Low  Close  Adj Close   Volume
0  01/08/2020   0.0   0.0  0.0    0.0        0.0  1604789
1  02/08/2020   0.0   0.0  0.0    0.0        0.0   193098
2  03/08/2020   0.0   0.0  0.0    0.0        0.0   129225
3  04/08/2020   0.0   0.0  0.0    0.0        0.0    19717
4  05/08/2020   0.0   0.0  0.0    0.0        0.0    26869

In [160]:
data_shib_stats = pd.read_csv("../shiba-stats.csv")
#Konvertujem datum u jedinstven format
data_shib_stats['date'] = pd.to_datetime(data_shib_stats['date'], format='%d-%m-%Y')
data_shib_stats['date'] = data_shib_stats["date"].dt.strftime('%d/%m/%Y')
data_shib_stats.head()

,date,facebook_likes,twitter_followers,reddit_average_posts_48h,reddit_average_comments_48h,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,01/08/2020,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/08/2020,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/08/2020,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04/08/2020,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05/08/2020,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
data_shib_google = pd.read_csv("../shiba_google_trend.csv")
#Konvertujem datum u jedinstven format
data_shib_google['date'] = pd.to_datetime(data_shib_google['date'], format='%Y-%m-%d')
data_shib_google['date'] = data_shib_google["date"].dt.strftime('%d/%m/%Y')
data_shib_google.head()
data_shib_google.tail()

,date,shiba inu coin_unscaled,shiba inu coin_monthly,isPartial,scale,shiba inu coin
548,31/01/2022,47,6.0,NaN,0.06,2.82
549,01/02/2022,94,6.0,NaN,0.06,5.64
550,02/02/2022,100,6.0,NaN,0.06,6.00
551,03/02/2022,76,6.0,NaN,0.06,4.56
552,04/02/2022,96,6.0,NaN,0.06,5.76

In [163]:
data_shib_stats.set_index('date')
data_shib_google.set_index('date')
data_shib_usd.set_index('Date')
merged_shiba=pd.merge(data_shib_usd,data_shib_stats, how='inner', left_on='Date', right_on='date')
merged_shiba.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date,facebook_likes,twitter_followers,...,reddit_subscribers,reddit_accounts_active_48h,forks,stars,subscribers,total_issues,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks
0,01/08/2020,0.0,0.0,0.0,0.0,0.0,1604789,01/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/08/2020,0.0,0.0,0.0,0.0,0.0,193098,02/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/08/2020,0.0,0.0,0.0,0.0,0.0,129225,03/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04/08/2020,0.0,0.0,0.0,0.0,0.0,19717,04/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05/08/2020,0.0,0.0,0.0,0.0,0.0,26869,05/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
merged_shiba = pd.merge(merged_shiba, data_shib_google,left_on='Date', right_on='date')
merged_shiba.head()

,Date,Open,High,Low,Close,Adj Close,Volume,date_x,facebook_likes,twitter_followers,...,closed_issues,pull_requests_merged,pull_request_contributors,commit_count_4_weeks,date_y,shiba inu coin_unscaled,shiba inu coin_monthly,isPartial,scale,shiba inu coin
0,01/08/2020,0.0,0.0,0.0,0.0,0.0,1604789,01/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,01/08/2020,0,NaN,NaN,NaN,NaN
1,02/08/2020,0.0,0.0,0.0,0.0,0.0,193098,02/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,02/08/2020,0,0.0,False,0.0,0.0
2,03/08/2020,0.0,0.0,0.0,0.0,0.0,129225,03/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,03/08/2020,0,0.0,NaN,0.0,0.0
3,04/08/2020,0.0,0.0,0.0,0.0,0.0,19717,04/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,04/08/2020,0,0.0,NaN,0.0,0.0
4,05/08/2020,0.0,0.0,0.0,0.0,0.0,26869,05/08/2020,NaN,NaN,...,NaN,NaN,NaN,NaN,05/08/2020,0,0.0,NaN,0.0,0.0

In [165]:
del merged_shiba['date_x']
del merged_shiba['date_y']

merged_shiba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 0 to 552
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         553 non-null    object
 1   Open                         553 non-null    float64
 2   High                         553 non-null    float64
 3   Low                          553 non-null    float64
 4   Close                        553 non-null    float64
 5   Adj Close                    553 non-null    float64
 6   Volume                       553 non-null    int64
 7   facebook_likes               0 non-null      float64
 8   twitter_followers            213 non-null    float64
 9   reddit_average_posts_48h     539 non-null    float64
 10  reddit_average_comments_48h  539 non-null    float64
 11  reddit_subscribers           319 non-null    float64
 12  reddit_accounts_active_48h   319 non-null    float64
 13  forks                        0 non-null      float64
 14  stars                        0 non-null      float64
 15  subscribers                  0 non-null      float64
 16  total_issues                 0 non-null      float64
 17  closed_issues                0 non-null      float64
 18  pull_requests_merged         0 non-null      float64
 19  pull_request_contributors    0 non-null      float64
 20  commit_count_4_weeks         0 non-null      float64
 21  shiba inu coin_unscaled      553 non-null    int64
 22  shiba inu coin_monthly       552 non-null    float64
 23  isPartial                    79 non-null     object
 24  scale                        552 non-null    float64
 25  shiba inu coin               552 non-null    float64
dtypes: float64(22), int64(2), object(2)
memory usage: 116.6+ KB

In [166]:
merged_shiba.to_csv('../shiba_data_4_2_2022.csv', index=False)